body {
  font-family: 'Poppins', sans-serif;
  
}
#main-home-page {
  overflow: hidden;
}
.fwb {
  font-weight: 700;
}
.main-home {
  background:url("https://i.ibb.co/8YJs3MY/main-home2.png");
  height: 800px;
  background-repeat: no-repeat;
  background-size: contain;
}
.mybtn{
  border-radius: 0;
    padding: 15px 9px;
    color: #fff;
    outline: 0;
    background-image:linear-gradient(to right, #19D3B0, #0FCFE8)
  
}
.appointments-item-btn {
  border-radius: 0;
  padding: 8px 15px;
  color: #fff;
  outline: 0;
  background-image: linear-gradient(to right, #19D3B0, #0FCFE8);
  text-transform: uppercase;
  
}
.card {
  border:none;
}
.cp {
  color: #10CFE5;
}
.appointments-item p {
  font-size: 14px;
}

.mybtn:hover {
  color: #fff;
  background-image:linear-gradient(to left, #19D3B0, #0FCFE8)
}
.appointments-item-btn:hover {
  color: #fff;
  background-image:linear-gradient(to left, #19D3B0, #0FCFE8)
}
.home-primary:hover {
  background-image:linear-gradient(to right, #19D3B0, #0FCFE8)
}
.home-location:hover {
  background-image:linear-gradient(to right, #19D3B0, #0FCFE8);
  transition: 1s;
}
.main-home-nav {
  padding: 30px 30px !important;
  padding-top: 35px;
}
#navbarNav {
  z-index: 999;
}
.header-content {
  margin-top: 100px;
}
.sidebar-content p {
  line-height: 2;
}
.sidebar-image {
  background:url("https://i.ibb.co/wsZ6Z1P/main-home.png");
  height: 800px;
  background-repeat: no-repeat;
  background-size: contain;
}
#main-home-navbar {
  position: relative;
}
#main-home-navbar::after {
  position: absolute;
  height: 1300px;
  content: '';
  width: 370px;
  right: 0;
  background: #3A4256;
}
section.header-bottom-content-aria {
  margin-top: -150px;
}
.home-location {
  background: #3A4256;
  color: #fff;
  transition: 1s;
  cursor: pointer;
}
.home-primary {
  cursor: pointer;
  transition: .3s;
  background: #1CC7C1;
  color: #fff;
}
.main-home-icon {
  font-size: 50px;
  color: #fff;
}
.home-icons-container h6 {
  font-weight: 700;
  padding-top: 5px;
}
.home-icons-container p{
  font-size: 12px;
  padding-right: 5px;
}
.availableAppoitments-container {
  margin-top: -150px;
}

.nice-dates-day:before {
  background: #19D3B0;
}
.myclass {
  display: block !important;
}
/* 

<img src="https://i.ibb.co/VL6Vc6Q/login.png" alt="login" border="0">
<img src="https://i.ibb.co/wsZ6Z1P/main-home.png" alt="main-home" border="0">
<img src="https://i.ibb.co/8YJs3MY/main-home2.png" alt="main-home2" border="0">


*/